name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    # Tomar nuestro codigo
    # Test GitHub Action to determine semantic version based on commit messages
    # Test GitHub Action to determine semantic version based on commit messages
    - name: Checkout Code
      uses: actions/checkout@v4
      with: 
        fetch-depth: 0
        
    - name: Git Semantic Version
      uses: PaulHatch/semantic-version@v4.0.3
      with:
        major_pattern: "BREAKING CHANGE:"
        minor_pattern: "feat:"
        patch_pattern: "fix:"
        format: "${major}.${minor}.${patch}"
      id: version

    - name: Docker Login
      env:
        DOCKER_USER: ${{ secrets.DOCKER_USER }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
      run: |
        echo "Iniciando login"
        docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
        echo "Fin del login"
        
    - name: Build Docker Image
      env:
        NEW_VERSION: ${{ steps.version.outputs.version }}
      run: |
        docker build -t jadomiz/admintareas.backend.api:$NEW_VERSION .
        docker build -t jadomiz/admintareas.backend.api:latest .

    - name: Push Docker Image
      env:
        NEW_VERSION: ${{ steps.version.outputs.version }}
      run: |
        docker push jadomiz/admintareas.backend.api:$NEW_VERSION
        docker push jadomiz/admintareas.backend.api:latest

